.login_component {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}

.login_label {
    margin: 40px;
}

.login_section {
    width: 26%;
    height: 29%;
}
    /* box-shadow: 7px 7px #1d11a6; */
    /* border: 2px solid rgb(17, 0, 255); */
